.ins-sponsor-section-six {
	padding: 95px 0px 90px;
	.container {
		max-width: 1410px;
	}
}
.ins-sponsor-content-six {
	padding: 60px 40px;
	border: 1px solid #EDE8E4; 
}
.ins-sponsor-item-six {
	height: 50px;
	align-items: center;
	justify-content: center;
	display: flex !important;
	.inner-img {
		img {
			margin: 0 auto;
		}
	}
}