.in-error-section {
	padding: 130px 0px;
}
.in-error-text {
	margin-top: 60px;
	h2 {
		font-size: 48px;
		font-weight: 700;
		padding-bottom: 20px;
		color: var(--black-color);
	}
	p {
		padding-bottom: 40px;
	}
}